<div class="outer_container">
    <div>
        <h1 style="color: #475F7B;margin: 10px;"> Add Employee</h1>
    </div>

    <form [formGroup]="addEmployeeForm" autocomplete="off">
        <div class="border employee-details" fxFlex="row wrap">
            <mat-form-field>
                <mat-label>Employee Id</mat-label>
                <input matInput formControlName="empId" placeholder="ID" required [readonly]="empIdReadonly">
                <mat-error>Id is Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Employee Name" [readonly]="empIdReadonly" required>
                <mat-error>Name is Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobileNo" (keypress)="numberOnly($event)" maxlength="10" minlength="10"
                    placeholder="Mobile No" required>
                <mat-error>Maximum 10 Numbers</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="mailId" required placeholder="Mail">
                <mat-error *ngIf="addEmployeeForm.controls['mailId'].hasError('required')">Mail is Required</mat-error>
                <mat-error *ngIf="addEmployeeForm.controls['mailId'].hasError('pattern')">Not a valid email</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName" required placeholder="Company Name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" (dateInput)="calculateAge($event)"
                    formControlName="dateOfBirth" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput placeholder="Age" (keypress)="numberOnly($event)" formControlName="age">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date Of Joining</mat-label>
                <input matInput [matDatepicker]="joinDatePicker" (click)="joinDatePicker.open()"
                    formControlName="dateOfJoining">
                <mat-datepicker-toggle matSuffix [for]="joinDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #joinDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Martial Status</mat-label>
                <mat-select formControlName="martialStatus">
                    <mat-option value="M">Married</mat-option>
                    <mat-option value="U">UnMarried</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="City">
            </mat-form-field>

            <div fxLayoutAlign="end" fxLayoutGap="10px">
                <button mat-raised-button color="basic" (click)="backToHome()">Cancel</button>
                <button mat-raised-button color="primary" [disabled]="addEmployeeForm.invalid"
                    (click)="onSubmit()">Save</button>
            </div>
        </div>
    </form>
</div>